#goa{
    width: 100px;
    height: 80px;
}

body{
    background-color: rgb(14, 14, 14);
}

h1{
    color: goldenrod;
}

#pantera{
    width: 500px;
    height: 300px;
}

#p1{
    width: 300px;
    height: 300px;
}