b{
    color: greenyellow;
}

#p1{
    text-align: center;
}

input{
    margin-left: 45%;
    width: 200px;
    height: 40px;
    text-align: center;
}

.d1{
    background-color: gainsboro;
    height: 100px;
}

.d2{
    background-color: greenyellow;
    height: 100px;
}

#b1{
    text-align: end;
}
