body{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#d{
    width: 250px;
    height: 539px;
    background-color: red;
    border-radius: 100px 100px 0px 0px;
    transform: rotate(-50deg);
}

#d1{
    width: 250px;
    height: 539px;
    background-color: red;
    border-radius: 100px 100px 0px 0px;
    transform: rotate(50deg);
}

div{
    animation-name: hart;
    
}
