table{
    border-collapse: collapse;
}


tr:nth-child(1){
    background-color: rgb(255, 29, 0);
    color: white;
}

table{
    border-bottom: 2px solid rgb(0, 255, 0);
    width: 100px;
}

tr:nth-child(even){
    background-color: blue;
}
