table{
    border-collapse: collapse;
}

tr:nth-child(1){
    background-color: rgb(78, 129, 0);
    color: white;
}

tr:nth-child(3){
    color: rgb(118, 171, 37);
}

tr:nth-child(3){
    background-color: #ddd;
    color: rgb(78, 129, 0);
}

table{
    border-bottom: 2px solid green;
    width: 300px;
}

td, th{
    text-align: left;
}

