body{
    display: flex;
    justify-content: center;
}
div{
    width: 100px;
    height: 100px;
    background-color: green;
    animation-duration: 5s;
    animation-name: translation;
    animation-delay: 2s;
    transition: 10s;
}


@keyframes translation{
    0%{
        background-color: green;
        transform:  rotate(90deg) scale(1.5);
    }

    10%{
        background-color: red;
        transform:  rotate(-180deg) scale(1.5);
    }

    20%{
        background-color: blue;
        transform:  rotate(270deg) scale(1.5);
    }

    50%{
        background-color: chartreuse;
        transform:  rotate(-360deg) scale(1.5);
    }
    
}