body{
    background-color: rgb(236, 242, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#d1{
    display: flex;
}

#y_r{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(91, 62, 249);
    width: 300px;
    height: 450px;
    border-radius: 35px;
}


#d76{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    background-color: rgb(69, 48, 229);
    width: 200px;
    height: 200px;
}

#d76 h1{
    color: white;
    font-size: 70px;
}

.g{
    color: white;
}

#y_r p, h2{
    color: gainsboro;
}

#d1{
    background-color: white;
    width: 650px;
    height: 450px;
}

#summary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
}

#summary h2{
    color: black;
    padding-left: 30px;
}

.Result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

#r{
    background-color: rgb(254, 247, 247);
}

#m{
    background-color: rgb(255, 250, 244);
}

#v{
    background-color: rgb(242, 252, 249);
}

#vi{
    background-color: rgb(244, 244, 254);
}

.rp{
    color: red;
}

.mp{
    color: rgb(212, 212, 0);
}

.vp{
    color: green;
}

.vip{
    color: blue;
}

button{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(48, 59, 89);
    color: white;
    border: none;
}