body{
    display: flex;
    justify-content: center;

}

#result{ 
    /* display: flex;
    justify-content: center; */
    width: 300px;
    height: 400px;
    background-color: rgb(72, 53, 241);
    border-radius: 20px;
}

#result, p{
    color: rgb(199, 193, 255);
    text-align: center;
}

#scored{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: rgb(74, 36, 205);
}

#sored, h1{
    font-size: 50px;
    color: white;
}

#scored, h2{
    color: white;
}

summary{
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: inset;
}