#d1{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

#d2{
    width: 100px;
    height: 90px;
    background-color: blue;
    border-radius: 1000% 20% 20% 20%;
}

#d3{
    width: 100px;
    height: 80px;
    background-color: blue;
    border-radius: 20% 20% 1000% 20%;
    margin-left: 100px;
}
