body{
    background-color: hsl(216, 35%, 68%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 5%;
    
}

img{
    width: 70%;
    margin-top: 5%;
    border-radius: 10%;
}

p{
    font-weight: bold;
    font-size: x-large;
}
h6{
    font-size: small;
    color: hsl(216, 15%, 48%)
}